<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouMeChat-Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <%- include partials/navbar.ejs %>
<div class="col-md-12">
   <form action="/results" method="post">
       <div class="form-group ad-30" style="margin-top:8px;">
            <div class="input-group search-style">
                <input class="form-control new-search-bar"  name="country" id="search" placeholder="Enter Your Group Name" type="text">
                <span class="input-group-btn">
                    <button class="btn input-btn" type="" id="search-form">Search</button>
                </span>
            </div>
        </div>
   </form>
   <a href="/dashboard">
   <button class="btn add-fav" id="newgrp" style="width: 10%;margin-bottom: 10px;">
        Add New Group
    </button></a>
    <a href="/maps">
        <button class="btn add-fav" id="newgrp" style="width: 10%;margin-bottom: 10px;">
             Maps
    </button></a>
    <a href="https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=eu-gb&integrationID=1db9fd5d-cad1-49f2-88cf-9b0528f26225&serviceInstanceID=bd12e234-d54c-4e0e-af9d-4761110f6770">
        <button class="btn add-fav" id="newgrp" style="width: 10%;margin-bottom: 10px;">
             ChatBot
         </button>
    </a>
    <a href="/articles">
        <button class="btn add-fav" id="newgrp" style="width: 10%;margin-bottom: 10px;">
             Lists
         </button>
    </a>
    <a href="/donor">
        <button class="btn add-fav" id="newgrp" style="width: 10%;margin-bottom: 10px;">
             Donate
    </button></a>
</div>
  
<div class="col-md-12">
    <input type="hidden" id="name-user" value="<%= user.username %>">
    <input type="hidden" id="name-image" value="<%= user.userImage %>">
    <div class="">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="filter-container">
                            <div class="card">
                                <form action="/results" method="post">
                                    <div class="content">
                                        <p class="filter">
                                            FILTER
                                        </p>
                                        <hr/>
                                        <select class="form-control" name="country" id="country" >
                                            <option value="">Filter By Class</option>
                                            <% _.forEach(country, function(value) { %>
                                                <option value="<%= value._id %>"><%= value._id %></option>
                                            <% }) %>
                                        </select>
                                        <div class="clearfix"></div>
                                        <button class="btn add-apply">Apply</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-9">
                <div>
                    <% _.forEach(chunks, function(val) { %>
                    <div class="category-list">
                        <div class="row">
                         <% _.forEach(val, function(val2) { %>
                            <form action="/home" method="post" id="favourite">
                                <div class="item col-md-4">
                                    <a style="text-decoration: none" href="/group/<%= val2.name.replace(/ /g,'-') %>">
                                    <div class="thumbnail">
                                       <img src="/uploads/<%= val2.image %>" class="thumbimg" alt="">
                                        <div class="caption" >
                                            <h4><b><%= val2.name %></b></h4>
                                            <div class="row">
                                                    <p style="font-size: 12px;">
                                                            <%= val2.country %>
                                                    </p>
                                            </div>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                            </form>
                            <% })%>
                        </div>
                    </div>
                    <% })%>
                </div>
            </div>
        </div>
    </div>
</div>

  
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
<script src="/socket.io/socket.io.js"></script>
<script src="/js/messagelink.js"></script>
<script src="/js/group/sendrequest.js"></script>
<script src="/js/home.js"></script>
<script src="/js/global.js"></script>
<script src="/js/deparam.js"></script>
</body>
</html>